.info {
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
}

.container-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.info {
  max-height: 90vh;
  overflow-y: auto;
  font-size: large;
}

.logo {
  width: 220px;
  margin-bottom: 10px;
  &:hover {
    transform: scale(1.05);
  }
}